.outerContainer {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerReport, .commentsContainer {
    background: white;
    padding: 1rem;
}

.innerReport {
    width: 500px;
    height: 700px;
}

.commentsContainer {
    width: 500px;
    height: 700px;
}